<br>
<br>
<div><input placeholder="Treatment Notes" type="text" name="treatment_notes"  class="textarea container_form_right" ></div>
<br>

<label for="start">Check-in Date</label>

<input type="date" id="start" name="check_in"
 value="2019-07-22"
 min="2019-01-01" max="2019-12-31">

 <br>
 <br>




 <div>

   <form method="post" action="/animals" class="container_form">
     <h1 class="padding_bottom"> Animal Booking </h1>


     <div class="container_form_left">

       <select name="assigned_vet" id="vet_select" >
         <% @staff.each do|individual| %>
         <option value= <%= individual.id %> ><%= individual.first_name %></option>
         <% end %>
       </select>


       <div><input type="submit" value="Add New Animal"/></div>




     </div>

   </form>

 </div>
