<div class="page_menu">

  <div class="index_new_pet_button"><a href="/vet-surgery/new">
    <h3 class="button"> Add new pet+</h3>
  </a></div>

  <div class="container_data" >
    <% @animals.each do |animal| %>

    <div class="result_box">
      <h2> <%= animal.name%> </h2>
      <h4> <%= animal.type_of_animal%> </h4>
      <h4> <%= animal.owner_name%> </h4>
      <h4 id="update"><a href="/vet-surgery/<%= animal.id %>">Show Details</a></h4>
    </div>
    <br>
    <%end%>
  </div>
</div>
