


  <div class="flex-container flex-container_end"><a class="flex-item" href="/vet-surgery/new">
    <h4> Add new pet+</h4>
  </a></div>

  <table class="table">
    <tr class="table_row">
      <th class="table_data">Animal Name</th>
      <th class="table_data">Aninal Type</th>
      <th class="table_data">Owner Name</th>
      <th class="table_data table_data_extra">Details</th>
    </tr>
  </table>

  <% @animals.each do |animal| %>
  <table class="table">
    <tr class="table_row">
      <td class="table_data"><%= animal.name%></td>
      <td class="table_data"><%= animal.type_of_animal%></td>
      <td class="table_data"><%= animal.owner_name%></td>
      <td class=" table_data table_data_extra"><a href="/vet-surgery/<%= animal.id %>">Show Details</a></td>
    </tr>
  </table>
  <%end%>
  <br>
