
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <title>Dog_log</title>
  </head>

  <div class="body_header">
    <h1> Oakland Surgery </h1>
    <p> This is your daily dashboard </p>
  </div>
  <nav id="menu">
    <li class="menu-item"><a href='/vet-surgery/staff'>Staff</a></li>
    <li class="menu-item"><a href='/vet-surgery/animals'>Dashboard</a></li>

  </nav>
  <br id="menu">


  <body>
    <%=yield%>
  </body>

</html>
