
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../public/style.css">
    <title>Dog_log</title>
  </head>

  <body>
    <%=yield%>
  </body>

</html>
