<form method="post" action="/vet-surgery">
  <label for = "animal_name">Animal Name: </label>
  <input type="text" name="name" id="animal_name">
  <br>
  <br>
  <label for = "animal_dob">Animal D.O.B: </label>
  <input type="text" name="dob" value="dd/mm/yy" id="animal_dob">
  <br>
  <br>
  <label for = "animal_species">Animal species: </label>
  <input type="text" name="type_of_animal" id="animal_species">
  <br>
  <br>
  <label for = "owner_name">Owners name: </label>
  <input type="text" name="owner_name" id="owner_name">
  <br>
  <br>
  <label for = "owner_email">Owners email:</label>
  <input type="text" name="owner_email" id="owner_email">
  <br>
  <br>
  <label for = "owner_number">Owners_number: </label>
  <input type="text" name="owner_phone_number" id="owners_number">
  <br>
  <br>
  <label for = "treatment_notes">Treatment_notes:</label>
  <input type="text" name="treatment_notes" id="treatment_notes">
  <br>
  <br>
  <label for = "vet_select"> Assigned Vet: </label>
  <select name="assigned_vet" id="vet_select">
    <% @staff.each do|individual| %>
              <option value= <%= individual.id %> ><%= individual.first_name %></option>
    <% end %>
  </select>

  <input type="submit" value="save puppy"/>

</form>
