

<div>

  <form method="post" action="/vet-surgery/staff" class="container_form">
    <h1 class="form_header" id="register_animal"> Add new staff member </h1>
    <br>
    <h3 class="form_header"> Add new staff memeber </h3>
    <input placeholder="First Name" type="text" name="first_name" class="container_form_left">
    <!-- <label for = "animal_dob" class="container_form_right">Animal D.O.B: </label> -->
    <input placeholder="Last Name" type="text" name="last_name" id="last_name" class="container_form_right">

    <div class="container_form_left">
      <input type="submit" value="Add New Staff Memeber"/>
    </div>

  </form>
</div>
