
  <div class="flex-container flex-container_end"><a class="flex-item" href="/vet-surgery/staff/new_staff">
    <h4> Add new staff +</h4>
  </a></div>

  <table class="table">
    <tr class="table_row">
      <th class="table_data">Staff Number</th>
      <th class="table_data">First Name</th>
      <th class="table_data">Last Name</th>
      <th class="table_data table_data_extra">Details</th>
    </tr>
  </table>

  <% @staff.each do |individual| %>
  <table class="table">
    <tr class="table_row">
      <td class="table_data"><%= individual.id%></td>
      <td class="table_data"><%= individual.first_name%></td>
      <td class="table_data"><%= individual.last_name%></td>
      <td class=" table_data table_data_extra"><a href="/vet-surgery/staff/<%= individual.id %>">Show Details</a></td>
    </tr>
  </table>
  <%end%>
  <br>
