

<div>

  <form method="post" action="/visits" class="container_form">

         <input placeholder="Treatment Notes" type="text" name="treatment_notes"  id="text_box">
       </div>

      <div><input type="submit" value="Add New Animal"/></div>
    </div>

  </form>

</div>
