<form method="POST" action="/visits/<%=@visit.id%/edit>" class="container_form">

  <div>
    <h1 class="padding_bottom"> Visit Detail: <%= @visit.return_animal_name%>'s</h1>
  </div>

  <input  type="textarea" id="start" name="animal_id" value="<%= @visit.animal_id%>"
     hidden >

    <div class="container_form_left">
      <label class="padding_bottom" for="check_in">Start date:</label>
      <input type="date" id="check_in" name="check_in"
       value="2019-07-22"
       min="2019-01-01" max="2019-12-31">
    </div>

    <div class="container_form_right">
    <label class="padding_bottom" for="treatment_notes">Treatment Notes:</label>
    <input  placeholder="Enter Treatment Notes" type="textarea" class="treatment_notes" id="treatment_notes" name="treatment_notes"
     required >
    </div>

    <div class="padding_top"><input type="submit" value="Update Visit Info"/></div>


</form>
