

<div class="flex_container_type_2 flex_container_start">
  <div class=""><h3 id="index_head_font">Up Coming Visits:</h3></div>
</div>

<div class="flex_container_type_2 margin-bottom ">
  <div class="flex_container_end"><a href="/visits/new"><h4 class="button_type_2">Create Visit</h4></a></div>
</div>

<table class="table">
  <tr class="table_row">
    <th class="table_data_header">Animal Name</th>
    <th class="table_data_header">Check_in</th>
    <th class="table_data_header table_data_extra_header">Details</th>
  </tr>

<% @visits.each do |visit| %>
<% next if visit.check_out == 't' %>
  <tr class="table_row">
    <td class="table_data"><%= visit.return_animal_name %></td>
    <td class="table_data"><%= visit.check_in %></td>
    <td class=" table_data table_data_extra"><a href="/visits/<%= visit.id %>">Show Details</a></td>
  </tr>
  <%end%>
</table>
