
<div class="grid-container">
  <div class="item1"><h3 id="index_head_font">Up Coming Visits:</h3></div>
  <div class="item2"><a href="/visits/new"><h4 class="button">Create Visit</h4></a></div>
</div>

<table class="table">
  <tr class="table_row">
    <th class="table_data_header">Animal Name</th>
    <th class="table_data_header">Check_in</th>
    <th class="table_data_header table_data_extra_header">Details</th>
  </tr>

<% @visits.each do |visit| %>
<% next if visit.check_out == 't' %>
  <tr class="table_row">
    <td class="table_data"><%= visit.return_animal_name %></td>
    <td class="table_data"><%= visit.check_in %></td>
    <td class=" table_data table_data_extra"><a href="/animals/<%= visit.animal_id %>">Show Details</a></td>
  </tr>
  <%end%>
</table>
