


  <div class="background_white container_form">
    <h1>Booking Details:</h1>
    <div class="container_form_left">
    <h2 class="booking_info"> Animal Name:    <%= @visit.return_animal_name %></h2>
    </div>
    <div class="container_form_right">
    <h2 class="booking_info">Check-in Date:   <%= @visit.check_in%></h2>
    </div>
    <div class="container_form_right padding_left">
      <a href= "/visits/<%=@visit.id%>/edit" >
        <button class="button margin_button" id="button_show">Update Treatment Notes</button>
      </a>
    </div>
  </div>
