body {
  background-color: #EFEFEF;
  padding: 2% 17% 10% 17%;
}

h1, h2, h3, h4, h5, p{
  font-family: 'Roboto', sans-serif;
  line-height: 0.5;
}

h4{
  font-size: 18px;
}

a{
  text-decoration:none;
  color:#1D1D1D
}
a:visited{
  color:#1D1D1D
}

label{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: #B4B2B2;
}

li{
  text-decoration: none;
  display: inline-block;
  margin:2%;
  font-family: 'Roboto', sans-serif;
  color:#1D1D1D;
  float:right;
}

li:hover{
  cursor: pointer;
  border-bottom:3px solid #FFD700;
}

li:active{
  border-bottom:4px solid black;
}

li:visited{
  color:#1D1D1D
}

table,td {
  border-bottom:10px solid #EFEFEF;
  border-collapse: collapse;
  height: 15px;
  width:100%;
}

th{
  font-weight: 400;
  font-size: 18px;
  border-bottom:10px solid #EFEFEF;
}

br{
  height: 5px;
}

.background_white{
  background-color: white;
}

.padding_left{
  padding-left: 15%;
}

.booking_info{
  font-weight: lighter;
}


.padding_top{
  padding-top:10%
}



.grid-container{
  display: grid;
  grid-template: 100px / auto auto auto;
  grid-gap: 30px;
  margin-left: -20px

}

.grid-container > div {
  text-align: center;
  font-size: 30px;
}

.flex_container_white{
  background-color: white;
}

.flex-container_end{
  justify-content: flex-end;
}
.flex-container_center{
  justify-content: center;
}
.flex-container_start{
  justify-content: flex-start;
}

.flex-container_spacing{
  justify-content: space-around;
}

.flex-container_between{
  justify-content:space-between;
}


#index_head_font{
  font-size: 28px;
}
.padding_bottom{
  padding-bottom: 10%;
}
.padding_bottom2{
  padding-bottom: 5%;
}

.padding_top{
  padding-top: 10%;
}

.margin_button{
  margin-top: 10%;
}

.flex-container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 100%;
  height: auto;
  padding-bottom:10px;
  margin-bottom: 25px;
  align-items: center;



  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.padding_right_200{
  margin-right:200px;
}


.show_info{
  background-color: white;
  height: 200px;
  width:250px;
  padding:2% 4% 2% 4%;
  float:left;
  box-shadow:5px 5px 5px 5px rgba(165,165,165,0.2);
  margin-left: -1%;
}
.show_info2{
  background-color: white;
  height: 200px;
  width:350px;
  padding:2% 4% 2% 4%;
  box-shadow:5px 5px 5px 5px rgba(165,165,165,0.2);
  margin-left: 5%;
}

.flex-item3 {
  padding: 0;
  width:100%;
  height: auto;


  line-height:10px;
  color: black;
  font-size: 16px;
  font-weight:lighter;
}

.table_data{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: left;

  padding:2%;
  width:150px;
  background-color: white;
  border-right: 1px solid grey;
}

.table_data_header{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: left;

  width:150px;
  padding:2%;
  background-color: white;
  border-right: 1px solid grey;
  border-bottom:10px solid #EFEFEF;
}

.table_data_extra{
  border-right: 0px solid white;
  background-color:white;
  text-decoration: underline;
}

.table_data_extra_header{
  border-right: 0px solid white;
  background-color:white;
}

.table_row{
  background-color: white;
}




#TN{
  margin-bottom: -20px;
  padding-top: 25px;
}

.margin-bottom{
  margin-bottom: 5%;
}

.margin-top2{
  margin-bottom: 3%;
}
