
/* input:focus, textarea:focus, select:focus{
  outline: none;}
  input, textarea{
    outline: none;
  }

  input[type=text] {
    padding:5px;
    outline:none;
    border-bottom: 2px solid black;
    width:300px;
    height:30px;
  }

  input:focus {
    outline: none;
    border-bottom: 2px solid black;
  }

  input[type=submit] {
    display: grid;
    grid-row:15;
    grid-column: 3;
    color: white;
    border-radius:3px;
    width:150px;
    height:50px;
    text-align: center;
    background-color: #FFD700;
  }

  input[type=submit]:hover {
    cursor: pointer;
  }

  input[placeholder] {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  } */


  .page_menu {
    display: grid;
    grid: auto, 25% 25% 25%  25%;
  }

  .grid_template_2{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    border: 1px solid black;
  }

  .item1{
    display: grid;
    grid-column: 1/2;
    padding: 0;
    width:100%;
    height: auto;


    line-height:15px;
    color: black;
    font-size: 16px;
    font-weight:lighter;
  }

  .item2{
    display: grid;
    grid-column: 2;
    padding: 0;
    width:100%;
    height: auto;


    line-height:15px;
    color: black;
    font-size: 16px;
    font-weight:lighter;
  }

  /* css for the index page */






  .flex-item {
    background: #FFD700;
    padding: 0.5% 3% 0.5% 3%;
    width:auto;
    height: auto;



    line-height: 50px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }

  .margin_right{
    margin-right:5%
  }

  #submit_button{
    background: #FFD700;
    padding: 0.5% % 0.5% 2%;
    width:auto;
    height: 50px;
    border-radius: 0;
    border:0;



    line-height: 25px;
    color: black;
    font-weight: bold;
    font-size: 12px;
    text-align: center;

  }

  .flex-item2 {
    padding: 0.5% 3% 0.5% 3%;
    width:250px;
    height: 50px;



    line-height: 50px;
    color: black;
    font-size: 16px;
    font-weight: lighter;
  }

  .button_font{
    font-size: 12px;
  }

  .flex_item4{
    background-color: white;
    height:50px;
    width: 50px;

    color:black;
    font-size: 20px;
  }

  .grid_template_6{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-template-rows: auto;
  }

  .grid_col_1{
    display: grid;
    grid-column-start: 5;
    grid-column-end: 6;
  }

  .margin_top{
    margin-top: 5%;
  }

  .float_left{
    float:left;
  }

  .footer{
    background-color: black;
    height: 100px;
    width:100%;
  }


  .title{
      padding:2% 4% 2% 4%;
      margin-left: -10%;
    }

  .buttons_show{
    height: auto;
    width: auto;
    display: inline-block;
  }

  .float_right{
    float:right;
  }

.padding_top{
  padding-top:10%;
}

  .flex-item5 {
    background: #FFD700;
    padding: 0.1% 2% 0.1% 2%;
    width:auto;
    height: 50px;
    align-items: center;
    margin-right: 10px;
    margin-top: 15px;



    line-height: 25px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
  }

  #text_box{
    height: 100px;
    width:100%;
    grid-column:1/2;
  }

  .flex-item4 {
    padding: 1%;
    width:100%;
    height:100px;


    line-height:15px;
    background-color: white;
    border:1px solid black;
    color: black;
    font-size: 16px;
    font-weight:400;
  }




  .button{
    display:flex
  }





  .body_header{
    float:left;
  }



  .container_header{
    grid-column: 1/5;
    grid-row: 1;
    align-items: center;
  }

  /* .container_data{
  grid-row: auto;
  grid-column-start:1;
  grid-column-end:6;
  } */

  .result_box {
    grid-column: 1/6;
    background-color: white;
    height: 30px;
    padding: 1% 5% 3% 5%;
    box-shadow:0px 3px rgba(165,165,165,0.2);

  }

  .item1{
    grid-column: 1/2;
    text-align: left;
  }
  .item2{
    grid-column: 2/3;
    text-align: left;
  }
  .item3{
    grid-column: 3;
    text-align: left;
  }

  /* css for the create new pet */

  .form_header{
    font-weight: 700;
    grid-column: 1/3;
  }


  .container_show_page{
    display: grid;
    grid: auto;
    grid-template-columns: 50% 50%;
    grid-auto-rows: auto;
    padding-right: 20%;
  }

  .custom-select {
    display: grid;
    grid-column: 1;
    grid-row: 6;

    font-family: Arial;
  }


  .custom_select select{

  }

  .select selected {
    background-color: DodgerBlue;
  }

  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }

  .show_page_left_column{
    grid-column: 1;
  }
  .show_page_right_column{
    grid-column: 2;
  }


  #submit_button_form{
    background-color: ;
    color:white;
    padding:3%;
    margin-top:15%;
    width:150px;
    justify-content: flex-end;
  }

  #register_animal{
    color:#FFD700;
  }

  #menu{
    height:90px;
  }

  #name{
    display:flex;
    height:50px;
    font-size:32px;
    padding-bottom: 5%;
  }


  /* .page_menu {
  display: grid;
  grid: 50px, 25% 25% 25%  25%;
  } */

  /* css for the index page */
