

<table class="table">
  <tr class="table_row">
    <th class="table_data_header">Animal Name</th>
    <th class="table_data_header">Check_in</th>
    <th class="table_data_header table_data_extra_header">Details</th>
  </tr>
</table>

  <% @visits.each do |visit| %>
<table class="table">
  <tr class="table_row">
    <td class="table_data"><%= visit.animal_name %></td>
    <td class="table_data"><%= visit.animal_name %></td>
    <td class=" table_data table_data_extra"><a href="/animals/">Show Details</a></td>
  </tr>
</table>
<%end%>
