

<div>
  <form method="POST" action="/staffs" class="container_form">
    <h1 class="padding_bottom">Update <%= @staff.first_name %> <%= @staff.last_name %>:</h1>
    <br>
    <br>
    <input type="text" name="first_name" class="container_form_left" value="<%= @staff.first_name %>"/>
    <!-- <label for = "animal_dob" class="container_form_right">Animal D.O.B: </label> -->
    <input type="text" name="last_name" id="staff_last_name" class="container_form_right" value="<%= @staff.last_name %>"/>
    <br>
    <br>
    <div class = "container_form_left ">
      <input type="submit" value="Update Staff Member"/>
    </div>

  </form>
</div>
