

<div>

  <form method="post" action="/staffs/new" class="container_form">
    <h1 class="form_header"> Add new staff member </h1>
    <br>
    <input placeholder="First Name" type="text" name="first_name" class="container_form_left">
    <input placeholder="Last Name" type="text" name="last_name" id="last_name" class="container_form_right">
    <br>
    <br>
    <div class="container_form_left">
      <input type="submit" value="Add New Staff Memeber"/>
    </div>

  </form>
</div>
